body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.newsletter{
  padding-top: 2vh;
  padding-bottom: 8vh;
}
.newsletter input#button {
  border: 1px solid white;
  background-color: #DF930A;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 2em;
  margin-top: 2rem;
  font-size: 1.5rem;
}
#newsletter {
  width: 100%;
  text-align: center;
  background-color: rgba(170,161,240,0.1);
  padding-top: 2rem;
  border-radius: 2%;
}

.head{
  background-image: url("../images/hands.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 55vh;
  text-align: center;
}
.head h1 {
  color: #DF930A;;
}


.email{
  margin-left: 1vh;
  width: 27.5vh;
}

.pseudo{
  margin-left: 2vh;
  width: 25vh;

}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}
.tab-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.tab-style img {
  max-height: 150px;
  max-width: 150px;
  margin: 0 auto;
}
.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 4rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 5vh;
}

@media (min-width: 992px) {

  .tab-style {
    display: flex;
    justify-content: initial;
    flex-direction: row;
  }
  .tab-style p {
    margin: auto 0 auto 1rem;
  }
  .tab-style img {
   margin: 0;
  }
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #DF930A !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #aaa1f0;
}

a:hover, a:focus, a:active {
  color: #030f37;
}

.carousel-inner img {
    width: 100%;
    height: 45vh;
}
#interests {
  background-color: #f1f1f1
}
